.searchResults {
  max-width: 1280px;
  margin: 1rem auto;
  padding: 1rem;

  h2 {
    margin-bottom: 2rem;
  }
}

.searchHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border);

  h1 {
    margin-top: 1.5rem;
    font-size: 40px;
    margin-bottom: .5rem;
  }

  p {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.jobsSearch {
  button {
    padding: .5rem 1rem;

  }

  .searchFilters {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: .5rem;
  }


}