.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid black;

  img {
    width: 80vw;
  }


  h1 {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-size: 50px;
    text-align: center;
  }

  .circle {
    position: relative;
    z-index: 0;
  }

  .circle::before {
    content: "";
    position: absolute;
    top: 52%;
    left: 50%;
    width: 120%;
    height: 83%;
    transform: translate(-50%, -50%) rotate(9deg);
    border: 3px solid var(--primary);
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
  }

  .highlight {
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 3px;
  }

  p {
    font-size: 22px;
  }

}

.homeLink {
  color: var(--background);
  background-color: black;
  text-decoration: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 18px;
  margin-bottom: 1rem;
  transition: all .2s ease-in-out;
}

.homeLink:hover {
  scale: 1.1;
}




.section {
  margin: 1rem auto;
  padding: 5rem 1rem;

  svg{
    background-color: var(--primary);
    color: var(--background);
  }
  h2 {
    font-size: 1.875rem;
    font-weight: 700;
    color: var(--text-primary);
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.125rem;
    color: var(--text-muted);
    max-width: 42rem;
    margin: 0 auto;
    text-align: center;
  }

  header {
    display: flex;
    gap: 2px;
    flex-direction: column;
    margin-bottom: 1rem;

    p {
      opacity: .75;
    }
  }

  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px
  }

  article {
    text-align: center;
  }
}

.homeForm {
  max-width: 42rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--input-bg);
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px var(--shadow);
  padding: 0.5rem;
  gap: 0.5rem;
}